{% extends 'base.html' %}

{% block container %}
    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">"Для тех, кого отвлекают дома"</p>
      <p class="mt-5 w-50 mx-auto">
          "Лучшие направления, где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами"</p>
    </div>

    <!-- CARDS -->
    <div class="row mt-5">
        <div class="card-deck">
        {% for tour_num, tour_data in tours.items() %}
        <div class="col-4">
            <div class="card mb-3">
                <img class="card-img-top" width="300" height="200" src="{{ tour_data.picture }}">
                <div class="card-body">
                    <h5 class="card-title">{{ tour_data.title }}</h5>
                    <p class="card-text">{{ tour_data.description|truncate(250) }}</p>
                    <a class="btn btn-sm btn-primary" href="/tour/{{ tour_num }}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}